#carouselOffers {
    height: 500px;
}

#carouselOffers img {
    max-height: 450px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}
